/* Ensure the body takes full height */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  color: #000000;  /* Tomato color */
  font-size: 36px; /* Larger text */
  font-weight: bold; /* Bold text */
}

.App {
  display: flex;         /* Flex container to place items side by side */
  height: 100vh;         /* Full viewport height */
}

.left-bar {
  width: 20%;          /* Fixed width for the sidebar */
  background-color: #acacac;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
}

.left-bar button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
}

.left-bar button:hover {
  background-color: #555;
}

.right-stream {
  flex-grow: 1;          /* Takes up the remaining space */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

canvas {
  border: 2px solid white;
  max-width: 100%;   /* Ensure the canvas doesn’t exceed the container */
  max-height: 100%;  /* Ensure the canvas doesn’t exceed the container */
}